<% layout('layouts/boilerplate') %>

<h1 class="mb-3 text-center text-info"><%= department %> Profiles</h1>

<div class="row row-cols-1 row-cols-md-5 g-4">
  <% for(perfil of perfiles) { %>
  <div class="col">
    <div class="card h-100">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title"><%= perfil.name %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          Grado: <%= perfil.grade %>
        </h6>
        <a
          class="card-link"
          href="/api/v1/profiles?department=<%= perfil.area._id %>"
          ><%= perfil.area.name %>
        </a>
        <p class="card-text mb-3"><%= perfil.description %></p>
        <a
          class="btn btn-info mt-auto"
          href="/api/v1/profiles/<%= perfil._id %>/edit"
          >Editar Perfil
        </a>
      </div>

      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <% } %>
</div>
