<% layout('layouts/boilerplate') %>

<h1 class="mb-3 text-center text-success">
  Detalles de <%= department.name %>
</h1>

<div class="card col-6 offset-3 mb-3">
  <div class="row g-0">
    <div class="col-md-2">
      <img
        class="img-fluid rounded-start h-100"
        src="<%= department.imgUrl %>"
        alt="Imagen para <%= department.name %>"
      />
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title"><%= department.name %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          <%= department.email %>
        </h6>
        <p class="card-text"><%= department.location %></p>
        <p class="card-text"><%= department.description %></p>
      </div>
    </div>
  </div>
</div>

<div class="card col-6 offset-3 mb-3">
  <div class="card-header">Perfiles</div>
  <ul class="list-group list-group-flush">
    <% for(perfil of department.profiles) { %>
    <li class="list-group-item">
      <a href="/api/v1/profiles/<%= perfil._id %>"><%= perfil.name %></a>
    </li>
    <% } %>
  </ul>
  <div class="card-footer text-center">
    <a
      class="btn btn-info col-6"
      href="/api/v1/departments/<%= department._id %>/profiles/new"
      >Agregar Perfil</a
    >
  </div>
</div>

<div class="card col-6 offset-3">
  <div class="card-body text-center">
    <a
      href="/api/v1/departments/<%= department._id %>/edit"
      class="btn btn-warning col-4 mx-1"
      >Editar</a
    >
    <a href="#" class="btn btn-danger col-4 mx-1">Eliminar</a>
  </div>
</div>
