<% layout('layouts/boilerplate') %> 
<% const {document, previousDocument, nextDocument} = docs %>
<div class="row navigation-container">
  <div
    class="col-10 offset-1 d-flex align-items-center justify-content-center vh-100"
    id="candidato"
  >
    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            id="image-candidato"
            style="width: 512px; object-fit: cover"
            src="<%= document.imgUrl %>"
            class="img-fluid rounded-start"
            alt="Imagen candidato <%= document.fullName %>"
          />
        </div>
        <div class="col-md-8 flex-grow-2">
          <div class="card-header">
            <ul
              class="d-flex nav nav-tabs card-header-tabs"
              data-bs-tabs="tabs"
            >
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="true"
                  data-bs-toggle="tab"
                  href="#datos-personales"
                  >Datos Personales</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#datos-laborales"
                  >Datos Laborales</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  data-bs-toggle="tab"
                  href="#informacion-adicional"
                  >Informacion Adicional</a
                >
              </li>
            </ul>
          </div>
          <div class="card-body tab-content col-md-10 mx-auto">
            <div class="tab-pane active" id="datos-personales">
              <h5 class="cart-title"><%= document.fullName %></h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cedula: <%= document.cedula %></li>
                <li class="list-group-item">Email: <%= document.email %></li>
                <li class="list-group-item">
                  Fecha de Nacimiento: <%= document.localDate %>
                </li>
                <li class="list-group-item">Edad: <%= document.age %></li>
              </ul>
            </div>
          </div>
          <div class="card-body tab-content col-md-10 mx-auto">
            <div class="tab-pane" id="datos-laborales">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Candidato labora actualmente? <%= document.currentlyWorking ?
                  'Si' : 'No' %>
                </li>
                <li class="list-group-item">
                  Empleo Actual: <%= document.job_actual ? document.job_actual :
                  'Ninguno' %>
                </li>
                <li class="list-group-item">
                  Expectativa Salarial: <%= document.salaryDOP %>
                </li>
                <% if (document.candidateProfile) { %>
                <li class="list-group-item">
                  Perfil del Candidato: <%=document.candidateProfile.name ?
                  document.candidateProfile.name : 'No definido' %>
                </li>
                <% } %>
              </ul>
            </div>
          </div>
          <div class="card-body tab-content col-md-10 mx-auto">
            <div class="tab-pane" id="informacion-adicional">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Nivel Academico: <%= document.nivelAcademico ?
                  document.nivelAcademico : 'No definido' %>
                </li>
                <li class="list-group-item">País: <%= document.country %></li>
                <li class="list-group-item">Región: <%= document.region %></li>
                <li class="list-group-item">Nota: <%= document.notas %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-auto">
        <form
          action="/api/v1/candidatos/<%= document._id  %>?_method=DELETE"
          method="POST"
        >
          <div
            class="btn-group col-12 text-center p-3 ms-auto"
            role="group"
            aria-label="Controles de Candidato"
          >
            <a
              href="/api/v1/candidatos/<%= document._id %>/edit"
              class="btn btn-success mt-2 col-md-4"
              ><span class="pe-2"><i class="fas fa-user-edit"></i></span
              >Editar</a
            >
            <a href="/api/v1/candidatos" class="btn btn-warning mt-2 col-md-4"
              >Back</a
            >
            <button id="deleteBtn" class="btn btn-danger mt-2 col-md-4">
              <span class="pe-2"><i class="fas fa-trash-alt"></i></span>Eliminar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <% if (previousDocument) { %>
  <a class="pagination-button-prev" href="/api/v1/candidatos/<%= previousDocument._id %>"><i class="fas fa-angle-double-left"></i></a>
  <% } %> 
  <% if (nextDocument) { %>
  <a class="pagination-button-next" href="/api/v1/candidatos/<%= nextDocument._id %>"><i class="fas fa-angle-double-right"></i></a>
  <% } %>
</div>