<% layout('layouts/boilerplate') %> 
<% block('head').append('<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>') %> 
<% block('head').append('<link rel="gettext" type="application/x-po" href="/crddm/languages/en/LC_MESSAGES/en.po"/>') %>
<div class="row">
  <h1 class="text-center">Editar Informacion de <%= candidato.fullName %></h1>

  <div class="col-6 offset-3">    
    <form class="row validate-form" action="/api/v1/candidatos/<%= candidato._id %>?_method=PATCH" method="POST" enctype="multipart/form-data" novalidate>
      <div class="mb-3">
        <label class="form-label" for="cedula">Cedula: <span class="text-danger">*</span></label>
          <input
            id="cedula"
            class="form-control"
            name="candidato[cedula]"
            type="text"
            placeholder="000-0000000-0"
            value="<%= candidato.cedula %>"
            required
        />
        <div class="invalid-feedback">Es necesario proveer una cédula!</div>
      </div>
      
      <div class="mb-3">
        <label class="form-label" for="nombres">Nombre: <span class="text-danger">*</span></label>
          <input
            id="nombres"
            class="form-control"
            name="candidato[nombres]"
            type="text"
            placeholder="John"
            value="<%= candidato.nombres %>"
            required
        />
        <div class="invalid-feedback">Es necesario proveer un nombre!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="apellidos">Apellidos: <span class="text-danger">*</span></label>
          <input
            id="apellidos"
            class="form-control"
            name="candidato[apellidos]"
            type="text"
            placeholder="Doe"
            value="<%= candidato.apellidos %>"
            required
        />
        <div class="invalid-feedback">Es necesario proveer un apellido!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="email"
          >Introduzca su correo: <span class="text-danger">*</span></label>
          <input
            id="email"
            class="form-control"
            name="candidato[email]"
            type="email"
            placeholder="correo@dominio.com"
            value="<%= candidato.email %>"
            required
        />
        <div class="invalid-feedback">Es necesario proveer una dirección de correo!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="dob">Fecha de Nacimiento: <span class="text-danger">*</span></label>
          <input
            id="dob"
            class="form-control"
            name="candidato[dob]"
            type="date"
            value="<%= candidato.dob.toISOString().split('T')[0] %>"
            required
          />
          <div class="invalid-feedback">Es necesario indicar su fecha de nacimiento!</div>
      </div>
      
      <fieldset class="mb-3 border">
        <legend class="col-form-label pt-0">Experiencia Laboral</legend>
        <% for(exp of experiencia) { %>
        <div class="form-check">        
          <input id="<%= exp.id %>" type="radio" name="candidato[candidateExp]"
          class="form-check-input" value="<%= exp.value %>" <%= candidato.candidateExp
          === exp.value ? 'checked' : '' %> />
          <label class="form-check-label" for="<%= exp.id %>"><%= exp.value %></label>
        </div>
        <% } %>
      </fieldset>

      <fieldset class="mb-3 border">
        <div class="form-check mb-3">
          <input class="form-check-input" id="candidato-empleado" type="checkbox"
            name="candidato[currentlyWorking]" <%= candidato.job_actual ?
            'checked' : '' %> /> 
          <label class="form-check-label" for="candidato-empleado">Empleado se encuentra laborando actualmente?</label>
        </div>
        <div class="mb-3">
          <label class="form-label" for="job_actual">Lugar de Trabajo Actual: </label>
          <input id="job_actual" class="form-control" name="candidato[job_actual]" type="text" <%= candidato.job_actual ? '' : 'disabled' %> value="<%= candidato.job_actual %>" placeholder="EX: Nombre empresa"/>          
        </div>
      </fieldset>

      <div class="mb-3">
        <label class="form-label" for="expectativa-salarial">Expectativa Salarial:</label>
        <input
          id="expectativa-salarial"
          class="form-control"
          name="candidato[exp_salario]"
          type="number"
          min="0"
          step="0.1"
          placeholder="1,000.00"
          value="<%= candidato.exp_salario %>"
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="perfil-candidato">Perfil del candidato: <span class="text-danger">*</span></label>
          <select
            class="form-select"
            id="perfil-candidato"
            name="candidato[candidateProfile]"
            required
          >
            <option value="">--Seleccionar Perfil--</option>
            <% for(profile of profiles) { %>
              <% if (candidato.candidateProfile) { %>
                <option value="<%= profile._id %>" <%= candidato.candidateProfile.name === profile.name ? 'selected' : '' %> >
                  <%= profile.name %>
                </option>
                
              <% } else {%>
                <option value="<%= profile._id %>">
                  <%= profile.name %>
                </option>
              <% } %>               
            <% } %>
          </select>
          <div class="invalid-feedback">Es necesario especificar el perfil al que aplica!</div>
      </div>      

      <div class="mb-3">
        <label class="form-label" for="foto-perfil">Agregar foto de perfil:</label>
        <input class="form-control" type="file" id="foto-perfil" name="candidato[imgUrl]" accept=".jpg, .jpeg, .png">
      </div>

      <div class="mb-3">
        <label class="form-label" for="nivel-academico">Nivel academico:</label>
        <select                
          id="nivel-academico"
          class="form-select"
          name="candidato[nivelAcademico]"
          required
        >        
        <% for(nivelAcademico of nivelesAcademicos) { %>
          <option value="<%= nivelAcademico %>" <%= candidato.nivelAcademico === nivelAcademico ? 'selected' : '' %> ><%= nivelAcademico %></option>
        <% } %>                
        </select>
        <div class="invalid-feedback">Es necesario indicar su nivel académico!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="countries">Indicar Pais de Origen:</label>
        <select
          id="countries"
          class="form-select gds-cr"
          name="candidato[countryRegionData][country]"
          country-data-region-id="gds-cr-region"
          data-language="en"
          country-data-default-value="<%= candidato.country %>"
          required
        ></select>        
        <div class="invalid-feedback">Es necesario indicar el país desde el que aplica!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="gds-cr-region">Region:</label>
        <select class="form-select"  name="candidato[countryRegionData][region]" id="gds-cr-region" region-data-default-value="<%= candidato.region %>"></select>
        <div class="invalid-feedback">Es necesario indicar la región desde donde aplica!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="notas">Informacion adicional:</label>
        <textarea
          id="notas"
          class="form-control"
          name="candidato[notas]"
          cols="30"
          rows="5"
          placeholder="Candidato da muy buena impresion..."
          value="<%= candidato.notas %>"
        ></textarea>        
      </div>

      <div
        class="btn-group col-12"
        role="group"
        aria-label="Controles de Formulario Candidato Nuevo"
      >
        <button class="btn btn-lg btn-success" type="submit">
          <span class="pe-2"><i class="far fa-save"></i></span>Guardar
        </button>
        <a class="btn btn-lg btn-warning" href="/api/v1/candidatos/<%= candidato._id %>"><span class="pe-2"><i class="fas fa-ban"></i></span>Cancelar</a>            
      </div>
    </form>
  </div>
</div>    

<%- include('../partials/geoscripts') %>
<% block('scripts').append('<script src="/js/form.js" charset="utf-8"></script>') %>