<% layout('layouts/boilerplate') %> <% block('head').append('<link rel="stylesheet" href="/res/css/home.css" />') %>

<% const {docs, page, total, limit, profile} = response %>
<% const totalPages = Math.ceil(total / limit); %>

<h1 class="mb-3 text-center text-success">HHRR Manager</h1>

<h2 class="text-info">Listado de Candidatos</h2>

<div class="row body bg-light rounded m-3 p-3 gap-3">
  <main class="table_container bg-white rounded shadow">
    <div
      class="heading"
    >
      <p class="title_tab">Nombre</p>
      <p class="email_tab">Email</p>
      <p class="pais_tab">Pais</p>
      <p class="profile_tab">Perfil</p>
      <p class="department_tab">Departamento</p>
    </div>

    <% docs.forEach(candidato => { %>
    <a href="/api/v1/candidatos/<%= candidato._id %>">
      <div
        class="candidato mb-2 d-flex gap-2 align-items-center rounded p-2 text-dark"
      >
        <div class="name_container gap-2">
          <img
            class="rounded candidate_img"
            src="<%= candidato.imgUrl %>"
            alt=""
          />
          <p class="full_name"><%= candidato.fullName %></p>
        </div>
        <div class="email_container">
          <p class="email"><%= candidato.email %></p>
        </div>
        <div class="pais_container">
          <p class="pais"><%= candidato.countryRegionData.country %></p>
        </div>
        <div class="profile_container">
          <p class="profile"><%= candidato.candidateProfile.name %></p>
        </div>
        <div class="department_container">
          <p class="department"><%= candidato.candidateProfile.area.name %></p>
        </div>
      </div>
    </a>    
    <% }) %>    
    
    <div class="pagination_container d-flex align-items-center justify-content-center gap-2 my-2">
      <% if(totalPages > 1) { %>
        <% for (let i = 0; i < totalPages; i++) { %>
          <% if (i === 0) { %>
            <a class="btn btn-info <%= page === i + 1 ? 'active' : '' %>" href="/api/v1/candidatos?page=1&limit=<%= limit %>&profile=<%= profile %>">First</a>
          <% } else if (i === totalPages - 1) { %>
            <a class="btn btn-info <%= page === i + 1 ? 'active' : '' %>" href="/api/v1/candidatos?page=<%= totalPages %>&limit=<%= limit %>&profile=<%= profile %>">Last</a>
          <% } else { %>
            <a class="btn btn-info round_button <%= page === i + 1 ? 'active' : '' %>" href="/api/v1/candidatos?page=<%= i + 1 %>&limit=<%= limit %>&profile=<%= profile %>"><%= i + 1 %></a>
          <% } %>
        <% } %>
      <% } %>
    </div>
  </main>

  <div class="d-flex flex-column align-items-center filter_container bg-white rounded text-dark shadow">
    <div
      class="col-12 d-flex p-3 m-3 gap-3 align-items-center justify-content-center p-4 rounded" style="background-color: var(--light); box-shadow: var(--box-shadow);"
    >
      <h4 class="m-0">Sort By:</h4>
      <select class="form-select form-select-sm w-50" name="" id="">
        <option value="">Edad</option>
        <option value="">Expectativa Salarial</option>
      </select>
      <button class="btn btn-info">
        <span>&uarr;</span> <span>&darr;</span>
      </button>
    </div>
    <div class="d-flex flex-column align-items-center p-3 rounded" style="background-color: var(--light); box-shadow: var(--box-shadow);">
      <h4>Filter By Profile</h4>
      <form
        action="/api/v1/candidatos"
        method="GET"
        class="col-12 d-flex flex-column justify-content-center gap-2" 
      >
        <div class="d-flex flex-wrap justify-content-between mb-2"><%- filterElement %></div>
        <div>
          <button type="submit" class="btn btn-info">Filter</button>
        </div>
      </form>
    </div>
  </div>  
</div>