<% layout('layouts/boilerplate') %> 
<% block('head').append('<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>') %> 
<% block('head').append('<link rel="gettext" type="application/x-po" href="/crddm/languages/en/LC_MESSAGES/en.po"/>') %>

<div class="row">
  <h1 class="text-center">Crear Nuevo Candidato</h1>

  <div class="col-6 offset-3">
    <form class="row validate-form" action="/api/v1/candidatos" method="POST" novalidate>
      <div class="mb-3">
        <label class="form-label" for="cedula">Cedula: <span class="text-danger">*</span></label> 
          <input
            id="cedula"
            class="form-control"
            name="candidato[cedula]"
            type="text"
            placeholder="000-0000000-0"
            required
        />       
        <div class="invalid-feedback">Es necesario proveer una cédula!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="nombres">Nombre: <span class="text-danger">*</span></label>
          <input
            id="nombres"
            class="form-control"
            name="candidato[nombres]"
            type="text"
            placeholder="John"
            required
        />
        <div class="invalid-feedback">Es necesario proveer un nombre!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="apellidos">Apellidos: <span class="text-danger">*</span></label>
          <input
            id="apellidos"
            class="form-control"
            name="candidato[apellidos]"
            type="text"
            placeholder="Doe"
            required
        />
        <div class="invalid-feedback">Es necesario proveer un apellido!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="email">Introduzca su correo: <span class="text-danger">*</span></label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="candidato[email]"
            placeholder="correo@dominio.com"
            required
        />
        <div class="invalid-feedback">Es necesario proveer una dirección de correo!</div>
      </div>
      
      <div class="mb-3">
        <label class="form-label" for="dob">Fecha de Nacimiento: <span class="text-danger">*</span
          ></label>
          <input
            type="date"
            class="form-control"
            name="candidato[dob]"
            id="dob"
            required
          />
        <div class="invalid-feedback">Es necesario indicar su fecha de nacimiento!</div>
      </div>

      <fieldset class="mb-3 border">
        <legend class="col-form-label pt-0">Experiencia Laboral</legend>
        <div class="form-check">        
          <input
              class="form-check-input"
              id="inexperienced-candidate"
              type="radio"
              name="candidato[candidateExp]"
              value="Sin experiencia"
              checked
            />
          <label class="form-check-label" for="inexperienced-candidate">Candidato Sin Experiencia</label>          
        </div>

        <div class="form-check mb-3">        
          <input
            class="form-check-input"
            id="experienced-candidate"
            type="radio"
            name="candidato[candidateExp]"
            value="Con experiencia"
          />          
          <label class="form-check-label" for="experienced-candidate">Candidato Con Experiencia</label>
        </div>
      </fieldset>

      <fieldset class="mb-3 border">
        <div class="form-check mb-3">
          <input
              class="form-check-input"
              id="candidato-empleado"
              type="checkbox"
              name="candidato[currentlyWorking]"
          />
          <label class="form-check-label" for="candidato-empleado">Empleado se encuentra laborando actualmente?</label>          
        </div>

        <div class="mb-3">
        <label class="form-label" for="job_actual">Lugar de Trabajo Actual:</label>
          <input
            id="job_actual"
            class="form-control"
            name="candidato[job_actual]"
            type="text"
            disabled
            placeholder="EX: Nombre empresa"
        />
      </div>
      </fieldset>
      <div class="mb-3">
        <label class="form-label" for="expectativa-salarial">Expectativa Salarial:</label>
          <input
            class="form-control"
            type="number"
            id="expectativa-salarial"
            name="candidato[exp_salario]"
            min="0"
            step="0.1"
            placeholder="1,000.00"
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="perfil-candidato">Perfil del candidato: <span class="text-danger">*</span></label>
          <select
            class="form-select"
            id="perfil-candidato"
            name="candidato[perfilCandidato]"
            required
          >
            <% for(perfil of perfiles) { %>
            <option value="<%= perfil.value %>"><%= perfil.text %></option>
            <% } %>
          </select>
          <div class="invalid-feedback">Es necesario especificar el perfil al que aplica!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="foto-perfil">Agregar foto de perfil:</label>
        <!-- <input class="form-control" type="file" id="foto-perfil" name="candidato[imgUrl]" accept=".jpg, .jpeg, .png"> -->
        <div id="profile-pic"></div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="nivel-academico">Nivel academico: <span class="text-danger">*</span></label>
          <select
            class="form-select"
            id="nivel-academico"
            name="candidato[nivelAcademico]"
            required
          >
            <% for(nivelAcademico of nivelesAcademicos) { %>
            <option value="<%= nivelAcademico.value %>">
              <%- nivelAcademico.text %>
            </option>
            <% } %>
          </select>
          <div class="invalid-feedback">Es necesario indicar su nivel académico!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="countries">Indicar Pais de Origen: <span class="text-danger">*</span></label>
          <select
            class="form-select gds-cr"
            id="countries"
            name="candidato[country]"
            country-data-region-id="gds-cr-region"
            data-language="en"
            required
          ></select>
          <div class="invalid-feedback">Es necesario indicar el país desde el que aplica!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="gds-cr-region">Region: <span class="text-danger">*</span></label>
        <select class="form-select" name="candidato[region]" id="gds-cr-region" required></select>
        <div class="invalid-feedback">Es necesario indicar la región desde donde aplica!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="notas">Informacion adicional:</label>
          <textarea
            class="form-control"
            id="notas"
            cols="30"
            rows="5"
            name="candidato[notas]"
            placeholder="Candidato da muy buena impresion..."
          ></textarea>        
      </div>

      <div
        class="btn-group col-12"
        role="group"
        aria-label="Controles de Formulario Candidato Nuevo"
      >
        <button class="btn btn-lg btn-success" type="submit">
          <span class="pe-2"><i class="far fa-save"></i></span>Guardar
        </button>
        <a
          href="/api/v1/candidatos/"
          class="btn btn-lg btn-warning"
          type="button"
        >
          <span class="pe-2"><i class="fas fa-ban"></i></span>Cancelar
        </a>
      </div>
    </form>
  </div>
</div>

<%- include('../partials/geoscripts') %>
<% block('scripts').append('<script src="/js/new.js" charset="utf-8"></script>') %>